<div>
  <div class="header">
    <div class="header-logo">
      <img alt="TIAA Bank" src="https://lh3.googleusercontent.com/proxy/BvvhsPEPshzS2FrFKI4MBi0pHflTNzV9L4sZW5doQR1XJRs1h5QNC7alnzz3Nmnt5ZTYAtA_pG08_g6obW0rLv02XCau7t3YGW05VFgOx_0NlOgm8IxGSSJkfk01iKnWyOSVydg" />
    </div>
      <div class="header-menu">
        <a routerLink="/players">Quarterback Evaluations</a>
      </div>
    </div>
  <div class="outlet">
      <router-outlet></router-outlet>
  </div>
  <div class="footer"></div>
</div>

